<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>

<body>

    <header class="header">
        <div class="logo header__logo">
            <img src="#" alt="Logo" class="logo__img">
        </div>
        <nav class="nav header__nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#" class="nav__link">About</a></li>
                <li class="nav__item"><a href="/main" class="nav__link">Playground</a></li>
                <li class="nav__item"><a href="/profile" class="nav__link">Profile</a></li>
            </ul>
        </nav>
        <div class="user-status header__user-status">
            <div class="user-status__img">
                <img src="#" alt="User Image">
            </div>
            <div class="user-status__name">
                Miljan Rubezic
            </div>
            <!-- Angle down -->
        </div>
    </header>
    <p><a href="/register">Register</a> || <a href="/main">Main</a> || <a href="/profile">Profile</a>
    || <a href="/history">History</a> || <a href="/high-score">High Score</a> || 
    <a href="/login">Login</a> || <a href="/logout">Logout</a></p>