<p><a href="/register">Register</a> || <a href="/main">Main</a> || <a href="/profile">Profile</a>
    || <a href="/history">History</a> || <a href="/high-score">High Score</a> || 
    <a href="/login">Login</a> || <a href="/logout">Logout</a></p>