<nav class="nav header__nav">
                <ul class="nav__list flex-disp">
                    <li class="nav__item"><a href="#" class="nav__link flex-disp"><i class="fas fa-book-open nav__icon"></i><span class="nav__text">About</span></a></li>
                    <li class="nav__item"><a href="/main" class="nav__link flex-disp"><i class="fas fa-play nav__icon"></i><span class="nav__text">Playground</span></a></li>
                    <li class="nav__item"><a href="/profile" class="nav__link flex-disp"><i class="fas fa-chart-bar nav__icon"></i><span class="nav__text">Profile</span></a></li>
                </ul>
            </nav>