.flex-disp {
    display: flex;
}

.small {
    font-size: 1.2rem;
}

.secondary-color-txt {
    color: $red-main-color; 
}
.primary-color-txt {
    color: $yellow-main-color;
}

.fw-600 {
    font-weight: 600;
}


.font-size-medium {
    font-size: 1.7rem;
}


.show {
    display: block;
}
.hidden {
    display: none;
}