/*
0 - 600px:       Phone
600 - 900px:     Tablet portrait
900 - 1200px:    Tablet Landscape
[1200 - 1800px]  is where our normal styles apply
1800px + :       Big desktop


 $breakpoint argument choices:

    - phone
    - tab-port
    - tab-land
    - big-desktop


ORDER: Base + typography > general layout + grid > page layout > components

    1em = 16px;
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #202123;
  height: 100vh; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

ul {
  list-style: none; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  color: #f1f1f1; }

.flex-disp {
  display: flex; }

.small {
  font-size: 1.2rem; }

.sec-color-txt {
  color: #FF5C26; }

.fw-600 {
  font-weight: 600; }

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  box-shadow: 0 5px 1rem rgba(33, 26, 35, 0.4); }
  .btn__main {
    background-color: #FF5C26;
    color: white; }

.card {
  position: absolute;
  width: 32rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222;
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.6);
  border-radius: 5px; }
  .card.flex-disp {
    flex-direction: column; }
  .card__headline {
    padding: 1.5rem 3rem;
    border-bottom: 1px solid #FF5C26;
    background: #bc9405;
    background: -moz-linear-gradient(left, #BC9405 0%, #FF5C26 49%, #FF5C26 100%);
    background: -webkit-linear-gradient(left, #BC9405 0%, #FF5C26 49%, #FF5C26 100%);
    background: linear-gradient(to right, #BC9405 0%, #FF5C26 49%, #FF5C26 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2', GradientType=1);
    text-transform: uppercase; }
  .card .small {
    text-align: center;
    margin: 1.5rem 0 2.5rem 0; }

.form-card {
  padding: 4.5rem 3rem 0 3rem; }
  .form-card > * {
    display: block; }
  .form-card__group {
    position: relative; }
    .form-card__group:not(:last-child) {
      margin-bottom: 3rem; }
  .form-card__input {
    color: white;
    caret-color: white;
    background-color: #28292C;
    position: relative;
    padding: 12px 0px 5px 0;
    width: 100%;
    outline: 0;
    border: 0;
    box-shadow: 0 .5px 0 0 white;
    transition: box-shadow 150ms ease-out; }
    .form-card__input:focus {
      box-shadow: 0 2px 0 0 #FF5C26; }
    .form-card__input::-webkit-input-placeholder {
      color: transparent; }
  .form-card__btn {
    width: 100%; }

.headline-main {
  align-items: center;
  padding: 3rem 0 3rem 5rem; }
  .headline-main__icon {
    font-size: 3.5rem;
    margin-right: 1rem;
    color: #FF5C26; }

.logo {
  justify-content: space-evenly;
  flex-direction: row; }
  .logo__text {
    margin-left: 1rem; }

.nav__item {
  transition: .3s; }
  .nav__item:not(:last-child) {
    margin-right: 6.5rem; }

.nav__link {
  align-items: center; }

.nav__icon {
  margin-right: 1.5rem;
  font-size: 2.3rem; }

.nav__item:hover .nav__icon {
  color: #BC9405; }

.user-widget {
  color: #BC9405;
  align-items: center; }
  .user-widget__name {
    line-height: .4;
    margin: 0 .75rem 0 1.3rem;
    font-size: 1.2rem; }
  .user-widget:hover {
    cursor: pointer; }
  .user-widget.not-logged-in {
    color: #fff; }
    .user-widget.not-logged-in .user-widget__not-logged--icon {
      font-size: 2.3rem; }
    .user-widget.not-logged-in .user-widget__icon {
      display: none; }

#main {
  background: url("/img/pattern.png");
  background-repeat: repeat;
  position: relative;
  background-clip: padding-box; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 6rem * 2) / 3); }
  .row .col-2-of-3 {
    width: calc( 2* ((100% - 6rem * 2) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 6rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 *((100% - 6rem * 3) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 *((100% - 6rem * 3) / 4) + 6rem * 2); }
  .row.bg-dark-low {
    background-color: #28292C; }

.header {
  height: 12rem;
  background-color: #222;
  box-shadow: 0px 5px 2px rgba(34, 34, 34, 0.7);
  padding: 0 4rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-clip: padding-box;
  border: solid 2px transparent; }
  .header__nav {
    margin: 0 auto; }
  .header::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    border-radius: inherit;
    margin: -2px;
    z-index: -1;
    background: #bc9405;
    background: -moz-linear-gradient(left, #BC9405 0%, #FF5C26 49%, #FF5C26 100%);
    background: -webkit-linear-gradient(left, #BC9405 0%, #FF5C26 49%, #FF5C26 100%);
    background: linear-gradient(to right, #BC9405 0%, #FF5C26 49%, #FF5C26 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2', GradientType=1); }

.proba {
  background-clip: padding-box;
  border: solid 2px transparent;
  position: relative; }
  .proba::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    border-radius: inherit;
    margin: -2px;
    z-index: -1;
    background: #bc9405;
    background: -moz-linear-gradient(left, #BC9405 0%, #FF5C26 49%, #FF5C26 100%);
    background: -webkit-linear-gradient(left, #BC9405 0%, #FF5C26 49%, #FF5C26 100%);
    background: linear-gradient(to right, #BC9405 0%, #FF5C26 49%, #FF5C26 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2', GradientType=1); }
