/*
0 - 600px:       Phone
600 - 900px:     Tablet portrait
900 - 1200px:    Tablet Landscape
[1200 - 1800px]  is where our normal styles apply
1800px + :       Big desktop


 $breakpoint argument choices:

    - phone
    - tab-port
    - tab-land
    - big-desktop


ORDER: Base + typography > general layout + grid > page layout > components

    1em = 16px;
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #211a23; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  color: #f1f1f1; }

.flex-disp {
  display: flex; }

.logo {
  justify-content: space-evenly;
  flex-direction: row; }
  .logo__text {
    margin-left: 1rem; }

.nav__item {
  transition: .3s; }
  .nav__item:not(:last-child) {
    margin-right: 6.5rem; }

.nav__link {
  align-items: center; }

.nav__icon {
  margin-right: 1.5rem;
  font-size: 2.3rem; }

.nav__item:hover .nav__icon {
  color: #BC9405; }

.user-widget {
  align-items: center; }
  .user-widget__name {
    line-height: .4;
    margin: 0 .75rem 0 1.3rem;
    color: #BC9405; }
  .user-widget__icon {
    color: #BC9405; }
  .user-widget:hover {
    cursor: pointer; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 6rem * 2) / 3); }
  .row .col-2-of-3 {
    width: calc( 2* ((100% - 6rem * 2) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 6rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 *((100% - 6rem * 3) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 *((100% - 6rem * 3) / 4) + 6rem * 2); }

.header {
  height: 12rem;
  background-color: #222;
  box-shadow: 0px 5px 2px rgba(34, 34, 34, 0.7);
  padding: 0 4rem;
  align-items: center;
  justify-content: space-between; }
