/*
0 - 600px:       Phone
600 - 900px:     Tablet portrait
900 - 1200px:    Tablet Landscape
[1200 - 1800px]  is where our normal styles apply
1800px + :       Big desktop


 $breakpoint argument choices:

    - phone
    - tab-port
    - tab-land
    - big-desktop


ORDER: Base + typography > general layout + grid > page layout > components

    1em = 16px;
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #202123;
  height: 100vh; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

ul {
  list-style: none; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  color: #f1f1f1; }

.flex-disp {
  display: flex; }

.small {
  font-size: 1.2rem; }

.secondary-color-txt {
  color: #FF5C26; }

.primary-color-txt {
  color: #BC9405; }

.tertiary-color-txt {
  color: #00BC22; }

.fw-600 {
  font-weight: 600; }

.font-size-medium {
  font-size: 1.7rem; }

.font-size-big {
  font-size: 2.1rem; }

.font-size-huge {
  font-size: 6rem; }

.block-disp {
  display: block; }

.show {
  display: block; }

.hidden {
  display: none; }

.txt-center {
  text-align: center; }

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  box-shadow: 0 5px 1rem rgba(33, 26, 35, 0.4); }
  .btn__main {
    color: white; }
    .btn__main--yellow {
      background-color: #BC9405; }
    .btn__main--red {
      background-color: #FF5C26; }
  .btn__big {
    padding: 1.5rem 6.5rem; }
  .btn__huge {
    padding: 2.3rem 8.5rem;
    font-size: 1.7rem; }

.card {
  z-index: 9999;
  position: absolute;
  width: 32rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222;
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.6);
  border-radius: 5px; }
  .card.flex-disp {
    flex-direction: column; }
  .card__headline {
    padding: 1.5rem 3rem;
    border-bottom: 1px solid #FF5C26;
    background: #bc9405;
    background: -moz-linear-gradient(left, #BC9405 0%, #FF5C26 49%, #FF5C26 100%);
    background: -webkit-linear-gradient(left, #BC9405 0%, #FF5C26 49%, #FF5C26 100%);
    background: linear-gradient(to right, #BC9405 0%, #FF5C26 49%, #FF5C26 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2', GradientType=1);
    text-transform: uppercase; }
  .card .small {
    text-align: center;
    margin: 1.5rem 0 2.5rem 0; }

.form-card {
  padding: 4.5rem 3rem 0 3rem;
  z-index: 0; }
  .form-card > * {
    display: block; }
  .form-card__group {
    position: relative; }
    .form-card__group:not(:last-child) {
      margin-bottom: 3rem; }
  .form-card__input {
    color: white;
    caret-color: white;
    background-color: #28292C;
    position: relative;
    padding: 12px 0px 5px 0;
    width: 100%;
    outline: 0;
    border: 0;
    box-shadow: 0 .5px 0 0 white;
    transition: box-shadow 150ms ease-out; }
    .form-card__input:focus {
      box-shadow: 0 2px 0 0 #FF5C26; }
    .form-card__input::-webkit-input-placeholder {
      color: transparent; }
  .form-card__btn {
    width: 100%; }

#login-form {
  padding: 4.5rem 3rem 3rem 3rem; }

.form-popup {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer; }
  .form-popup.show {
    display: flex;
    align-items: center;
    justify-content: center; }
  .form-popup__message {
    background-color: #FF5C26;
    padding: 1.4rem 2rem;
    font-size: 1.9rem; }

.form-response {
  text-align: center; }

#game-area {
  padding: 5rem 3rem;
  min-height: 56rem;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #BC9405 0%, #FF5C26 49%, #FF5C26 100%) 2 2 2 2;
  background-color: #222;
  display: flex;
  justify-content: center; }
  #game-area img {
    align-self: center; }

.answer-submit {
  padding: 3rem;
  background-color: #222;
  margin-top: 2rem;
  border: solid 2px transparent;
  border-image: linear-gradient(to right, #BC9405 0%, #FF5C26 49%, #FF5C26 100%) 2 2 2 2;
  display: flex;
  align-items: center; }
  .answer-submit:after {
    content: "";
    display: table;
    clear: both; }
  .answer-submit__question {
    font-size: 1.75rem;
    width: 45%;
    margin-right: 5%; }
    .answer-submit__question span {
      color: #FF5C26;
      font-weight: 600;
      font-size: 1.95rem;
      text-transform: uppercase; }
  .answer-submit__group {
    display: flex;
    justify-content: space-between;
    width: 50%; }
    .answer-submit__group * {
      display: inline-block; }
  .answer-submit__input {
    width: 100%;
    padding-left: 2rem;
    font-size: 2rem; }

.headline-main {
  align-items: center;
  padding: 3rem 0 3rem 5rem; }
  .headline-main__icon {
    font-size: 3.5rem;
    margin-right: 1rem;
    color: #FF5C26; }

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .lds-roller.hidden {
    display: none; }

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px; }

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FF5C26;
  margin: -3px 0 0 -3px; }

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s; }

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px; }

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s; }

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px; }

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s; }

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px; }

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s; }

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px; }

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s; }

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px; }

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s; }

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px; }

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s; }

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px; }

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s; }

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px; }

@keyframes lds-roller {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.logo {
  justify-content: space-evenly;
  flex-direction: row; }
  .logo__text {
    margin-left: 1rem; }

.nav__item {
  transition: .3s; }
  .nav__item:not(:last-child) {
    margin-right: 6.5rem; }

.nav__link {
  align-items: center; }

.nav__icon {
  margin-right: 1.5rem;
  font-size: 2.3rem; }

.nav__item:hover .nav__icon {
  color: #BC9405; }

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1; }
  .overlay--game {
    position: absolute;
    background: #222;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .overlay--game.hidden {
      display: none; }
    .overlay--game .btn {
      margin-bottom: 2rem; }
    .overlay--game .next-game-countdown {
      font-size: 1.8rem; }

.primary-list {
  padding-left: 2.5rem; }
  .primary-list li {
    position: relative;
    padding: .6rem 0; }
    .primary-list li::after {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      left: -25px;
      top: 15px;
      background-color: #3D3D3D;
      display: block;
      position: absolute; }
    .primary-list li::before {
      content: "";
      position: absolute;
      left: -21px;
      border-left: 2px solid #3D3D3D;
      height: 100%;
      width: 1px; }

.timer {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #28292C;
  text-align: center;
  box-shadow: 2px 3px 1rem rgba(0, 0, 0, 0.3); }
  .timer__progress {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out; }
  .timer__number {
    padding: 50px 0 0;
    font-size: 35px;
    line-height: 30px; }

.user-widget {
  color: #BC9405;
  align-items: center; }
  .user-widget__name {
    line-height: .4;
    margin: 0 .75rem 0 1.3rem;
    font-size: 1.2rem; }
  .user-widget:hover {
    cursor: pointer; }
  .user-widget.not-logged-in {
    color: #fff; }
    .user-widget.not-logged-in .user-widget__not-logged--icon {
      font-size: 2.3rem; }
    .user-widget.not-logged-in .user-widget__icon {
      display: none; }

.main {
  padding: 2rem;
  background: url("/img/pattern.png");
  background-repeat: repeat;
  background-clip: padding-box;
  border: solid 2px transparent;
  position: relative;
  border-image: linear-gradient(to right, #BC9405 0%, #FF5C26 49%, #FF5C26 100%) 2 2 2 2; }
  .main:after {
    content: "";
    display: table;
    clear: both; }
  .main__side-bar {
    height: 100%;
    width: 30%;
    background-color: #211a23;
    float: left;
    padding: 7.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .main__side-bar .user-stats {
      margin: 5rem 0 6.5rem 0; }
    .main__side-bar .timer {
      margin-bottom: 2rem; }
    .main__side-bar .combo {
      margin-bottom: 2.8rem; }
  .main__main-content {
    position: relative;
    width: 70%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 6rem * 2) / 3); }
  .row .col-2-of-3 {
    width: calc( 2* ((100% - 6rem * 2) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 6rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 *((100% - 6rem * 3) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 *((100% - 6rem * 3) / 4) + 6rem * 2); }
  .row.bg-dark-low {
    background-color: #28292C; }

.header {
  height: 12rem;
  background-color: #222;
  box-shadow: 0px 5px 2px rgba(34, 34, 34, 0.7);
  padding: 0 4rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-clip: padding-box;
  border: solid 2px transparent;
  border-image: linear-gradient(to right, #BC9405 0%, #FF5C26 49%, #FF5C26 100%) 2 2 2 2; }
  .header__nav {
    margin: 0 auto; }
