{{> header}}
    {{> page-headline}}
<div class="row">
    <div class="main about-page" id="main">
        <h2 class="about-page__headline"></h2>
            
    </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/main.js"></script>

</body>

</html>