{{> header}}

    <h2>Hello, {{user}}</h2>

    <h1>High Score</h1>


    <table id="high-score" border="1">
        <tr>
            <th>Username</th>
            <th>Success Rate</th>
            <th>Attempts</th>
            <th>Correct Answers</th>
            <th>Experience</th>
            <th>Best Combo</th>
        </tr>
    </table>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="/js/high-score.js"></script>
</body>

</html>