<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Register</title>
</head>

<body>
    {{>navigation}}

    <h2>Hello, {{user}}</h2>

    <h1>History Page</h1>

    <div id="task-history"></div>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="/js/history.js"></script>
</body>

</html>