<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
</head>

<body>
    {{>navigation}}

    <h2>Already {{message}} as {{user}}!</h2>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>