{{> header}}

    <h1>Logged in as {{user}} <img src="{{imgUrl}}" alt="Profile Pic" width="72"></h1>

    <p>Logg out?</p>
    <button id="logout">Yes</button><br><br>
    <button id="back">No</button>


    <p id="register-response"></p>



    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="/js/logout.js"></script>
</body>

</html>