{{> header}}
<div class="row">
    <div>
        <p>Logg out?</p>
        <button id="logout">Yes</button><br><br>
        <button id="back">No</button>

        <p id="register-response"></p>
    </div>
    <div id="main">
        <p>{{message}}</p>
        <div id="hero">
            <div class="overlay__pic1"></div>
            <div class="overlay__pic2"></div>
            <div class="overlay__console">
                <span id="code" class="overlay__code">Code</span><span id="pointer" class="overlay__pointer"> _</span>
            </div>
        </div>
    </div>
</div>
{{> overlay}}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/main.js"></script>

<script src="/js/logout.js"></script>
</body>

</html>