{{> header}}
    {{> page-headline}}

    <h2>You do not have access to this page. Login or register to get access.</h2>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>