.btn {
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .3s;
    font-weight: 700;
    box-shadow: 0 5px 1rem rgba($bg-black-medium, .4);
    //width: 20rem;
    &__main {
        color: white;
        &--yellow {
            background-color: $yellow-main-color;
        }
        &--red {
            background-color: $red-main-color;
        }
        &--black {
           background-color: $bg-black-light;
           &:hover {
               background-color: $red-main-color;
           }
        }
    }

    &__big {
        padding: 1.5rem 6.5rem;
    }

    &__huge {
        padding: 2.3rem 8.5rem;
        font-size: 1.7rem;
    }
}