.primary-list {
    padding-left: 2.5rem;
    & li {
        position: relative;
        padding: .6rem 0;
        transition: .3s all;
        &::after {
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 50%;
            left: -25px;
            top: 15px;
            background-color: #3D3D3D;
            display: block;
            position: absolute;
            transition: .3s all;
        }

        &::before {
            content:"";
            position: absolute;
            left: -21px;
            border-left: 2px solid #3D3D3D;
            height: 100%;
            width: 1px;
        }

        &:first-child::before {
            //top: 6px;
        }
    }
    &.side-menu {

        & li:hover {
            cursor: pointer;
            color: $yellow-main-color;
        }

        & li:hover::after {
            background-color: $yellow-main-color;
        }
    }

}