.profile-page {

    & .main__side-bar {
        justify-content: unset;
        & .table-stats {
            margin: 2.5rem 0;
        }
        & .side-menu {
            align-self: baseline;
            margin: 3rem 5rem;
        }
    }

    & .main__main-content {
        
    }
}

.profile-info {
    background: $bg-black-dark;
    height: 100%;
    & > *:not(:last-child){
        margin-bottom: 5rem;
    }
    & > * {
        margin: 0 auto;
    }
}

