.profile-page {
   
    & .main__side-bar {
        -webkit-box-pack: unset;
            -ms-flex-pack: unset;
                justify-content: unset;
        & .table-stats {
            margin: 2.5rem 0;
        }
        & .side-menu {
            -ms-flex-item-align: baseline;
                align-self: baseline;
            margin: 3rem 5rem;
            &__link {
                &:after {
                    top: 11px;
                }
                &:before {
                    top: 0;
                }
            }
            &__link.selected {
                color: $yellow-main-color;
                &:after {
                    background-color: $yellow-main-color;
                }
            }
        }
    }

    & .main__main-content {
        overflow: hidden;
    }
}
.tab {
    -webkit-transition: all 1s;
    transition: all 1s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 70px;
    width: 80%;
    padding: 4rem 2rem;
}
.tab.active {
    visibility: visible;
    opacity: 1;
}
.profile-edit {
    background: $bg-black-dark;
    height: 100%;
    & > *:not(:last-child){
        margin-bottom: 5rem;
    }
    & > * {
        margin: 0 auto;
    }
}

.history {
    display: none;
}

#profilePage {
    position: relative;
}